html {
    height:100%;
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
    background-attachment: fixed;
}

body {
    color: rgba(0,0,0,.84);
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    background-color: transparent;
}

.container {
    max-width: 800px;
    width: 100%;
}

h1, h2, h3, h4 {
    font-weight: 300
}

